{% load static %}
{% include 'partials/__navbar.html' %}

<br>
<div class="details">
    <a href="{% url 'index' %}"><p>Tuberculosis</p>
    <p>Diaganose Now</p></a>
</div>
<br>
<div class="details">
    <a href=""><p>Covid-19</p>
    <p>Coming Soon</p></a>
</div>
<br>
<div class="details">
    <a href=""><p>Pneumonia</p>
    <p>Coming Soon</p></a>
</div>
<br>
<div class="details">
    <a href=""><p>Cancer Detection</p>
    <p>Coming Soon</p></a>
</div>
<br>
<div class="details">
    <a href=""><p>And other lungs related infections</p></a>
</div>

{% include 'partials/__footer.html' %}