{% load static %}
{% include 'partials/__navbar.html' %}


<!-- <form method="post" enctype="multipart/form-data" action="predictImage">
    <input type="hidden" name="csrfmiddlewaretoken" value="LEvwViajxUtbSn9do1Fjrq40GyLD6tfObfMYc2aW1PmmPv53BgmkFofIMVC5tZJY">
    <input name="filePath" type="file">
    <input type="submit" value="Submit">   
</form> -->

<div class="form_and_description_container">
    <h2 style="background:linear-gradient(to right,rgba(123,21,21,0.1),rgba(122,22,45,0.9));color:crimson">Upload X-ray image for TB diagnosis</h2>
    <form method="post" enctype="multipart/form-data" action="predictImage">
        {% csrf_token %}
        <div class="input-group">
            <input name="filePath" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Submit</button>
        </div>
    </form>
    <section class="image_container">
        <div class="img_holder">
            <img src={{filePathName}} alt={{label}} width="400" height="400">
        </div>
        <div class="image_description">
            <h2> {{label}} </h2>
            <h2>{{remarks}}</h2>
            <h2>{{confidence}}</h2>
        </div>
    </section>
</form>
<br>

{% include 'partials/__footer.html' %}